.product-card {
  border-radius: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.product-img {
  height: 180px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}

.product-title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.product-price {
  font-size: 15px;
  font-weight: bold;
  color: #e40000;
}

.loading-center {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
