.details-img {
  width: 100%;
  height: 380px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #e60023;
}

.old-price {
  text-decoration: line-through;
  color: gray;
}

.add-btn {
  padding: 10px 18px;
  background: #e60023;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}

.add-btn:hover {
  background: #c9001d;
}

.loading-center {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
